* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family : 'lato', sans-serif;
    min-height: 100vh;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container:hover .top:before, .container:hover .top:after, 
.container:hover .bottom:before, .container:hover .bottom:after, 
.container:active .top:before, .container:active .top:after,
.container:active .bottom:before, .container:active .bottom:after {
    margin-left: 200px;
    transform-origin: -200px 50%;
    transition-delay : 0s;
}

.container:hover .center, .container:active .center{
    opacity: 1;
    transition-delay: 0.2s;
}

.top:before, .top:after, .bottom:before, .bottom:after{
    content: '';
    position: absolute;
    display: block;
    width: 200vmax;
    height: 200vmax;
    top: 50%;
    left: 50%;
    margin-top: -100vmax;
    transform-origin:0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    z-index: 10;
    opacity: 0.65;
    transition-delay: 0.2s;
}

.top:before {
    transform: rotate(45deg);
    background-color: #e46569;
}

.top:after {
    transform: rotate(135deg);
    background-color: #ecaf81;
}

.bottom:before {
    transform: rotate(-45deg);
    background-color: #60b8d4;
}

.bottom:after {
    transform: rotate(-135deg);
    background-color: #3745b5;
}

.center {
    position: absolute;
    width: 400px;
    height: 430px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    opacity: 0;
    box-shadow: 0 0 25px;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    transition-delay: 0s;
    color: #333;
    background-color: rgba(0,0,0,0.9);
    z-index: 9999;
}

.center input{
    font-size: 16px;
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
    border: none;
    color: #fff;
    outline: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
}

.center h3 {
    color: #fff;
    letter-spacing: 2px;
    padding: 10px 0;
}

.center h4 {
    padding: 10px 0;
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
}

#fgt_pswd{
    padding: 20px 0;
}

#fgt_pswd a{
    color: white;
    text-decoration: none;
}

#sign_up{
    padding: 20px 0;
}

#sign_up a{
    color: white;
    text-decoration: none;
}

#signin{
    text-align:center;
    padding: 10px 0;
}

#signin a{
    color: white;
    text-decoration: none;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 150px;
    
}

.center button {
    border: 2px solid transparent;
    outline: none;
    width: 100%;
    padding:14px 0;
    background-color: #7e87cf;
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s all;
}

.swal-wide{
    font-size:12px !important;
}