.product-grid{
    background-color: #fff;
    font-family: 'Lato', sans-serif;
	border: 2px solid;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.product-grid .product-image{ position: relative; padding: 15px 15px 15px; }
.product-grid .product-image a.image{ display: block;}
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid:hover .product-image .pic-1{
    opacity: 0;
    transition: all 0.5s ease 0s;
}
.product-image .pic-2{
    width: 100%;
    height: 100%;
    filter: blur(10px);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease 0s;
}
.product-grid:hover .product-image .pic-2{ filter: blur(0);opacity: 1; }
.product-grid .product-like-icon{
    color: #999;
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 10px;
    transition: all 0.3s ease 0s;
}
.product-grid .product-like-icon:hover{ text-shadow: 2px 2px 0 rgba(0,0,0,0.5); }
.product-grid .product-links{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%) scale(0);
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    z-index: 1;
    transition: all 0.3s ease;
}
.product-grid:hover .product-links{
    opacity: 1;
    transform: translateX(-50%) scale(1);
}
.product-grid .product-links li{ display: inline-block; }
.product-grid .product-links li a{
    color: #fff;
    background: #333;
    font-size: 16px;
    line-height: 38px;
    width: 40px;
    height: 40px;
    display: block;
    transition: all 0.3s ease 0s;
}
.product-grid .product-links li a:hover{
    color: #fff;
    background: #dd0059;
}
.product-grid .product-content{
	background-color: lightcyan;
    border-top: 2px solid;
    padding: 15px 15px 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.product-grid:hover .product-content{ transform: translateY(47px); }
.product-grid .title{
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0 0 7px;
}
.product-grid .title a{
    color: #222;
    transition: all 0.3s ease 0s;
	text-decoration: none;
}
.product-grid .title a:hover{ color: #dd0059; }
.product-grid .price{
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
@media screen and (max-width:990px){
    .product-grid{ margin: 0 0 30px; }
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}
button.fancy {
	-webkit-appearance: button;
	background-color: transparent;
	border: 2px solid #000;
	border-radius: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 1.25em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.3s ease-in-out;
	user-select: none;
}
button.fancy::before {
	content: " ";
	width: 1.5625rem;
	height: 2px;
	background: black;
	top: 50%;
	left: 1.5em;
	position: absolute;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transition: background 0.3s linear, width 0.3s linear;
	transition: background 0.3s linear, width 0.3s linear;
}
button.fancy a {
	font-size: 15px;
	line-height: 1.33333em;
	padding-left: 2em;
	display: block;
	text-align: left;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}
button.fancy .top-key {
	height: 2px;
	width: 1.5625rem;
	top: -2px;
	left: 0.625rem;
	position: absolute;
	background: white;
	-webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
	transition: width 0.5s ease-out, left 0.3s ease-out;
}
button.fancy .bottom-key-1 {
	height: 2px;
	width: 1.5625rem;
	right: 1.875rem;
	bottom: -2px;
	position: absolute;
	background: white;
	-webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}
button.fancy .bottom-key-2 {
	height: 2px;
	width: 0.625rem;
	right: 0.625rem;
	bottom: -2px;
	position: absolute;
	background: white;
	-webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}
button.fancy:hover {
	color: white;
	background: black;
}
button.fancy:hover::before {
	width: 0.9375rem;
	background: white;
}
button.fancy:hover a {
	color: white;
	padding-left: 1.5em;
}
button.fancy:hover .top-key {
	left: -2px;
	width: 0px;
}
button.fancy:hover .bottom-key-1,
button.fancy:hover .bottom-key-2 {
	right: 0;
	width: 0;
}