@use postcss-preset-env {
	stage: 0;
  }
  
  button {
	border: 0;
	color: inherit;
	cursor: pointer;
	font: inherit;
  }
  
  fieldset {
	border: 0;
	margin: 0;
	padding: 0;
  }
  
  legend {
	font-weight: 600;
	margin-block-end: 0.5em;
	padding: 0;
  }
  
  input {
	border: 0;
	color: inherit;
	font: inherit;
  }
  
  input[type="radio"] {
	accent-color: var(--color-primary);
  }
  
  table {
	border-collapse: collapse;
	inline-size: 100%;
  }
  
  tbody {
	color: #b4b4b4;
  }
  
  td {
	padding-block: 0.125em;
  }
  
  tfoot {
	border-top: 1px solid #b4b4b4;
	font-weight: 600;
  }
  
  .align {
	display: grid;
	place-items: center;
  }
  
  .button {
	align-items: center;
	background-color: 'black';
	border-radius: 999em;
	display: flex;
	gap: 0.5em;
	justify-content: center;
	padding-block: 0.75em;
	padding-inline: 1em;
	transition: 0.3s;
  }
  
  .button:focus,
  .button:hover {
	background-color: #000000;
  }
  
  .button--full {
	inline-size: 100%;
  }
  
  .card {
	border-radius: 1em;
	background-color: var(--color-primary);
	padding: 1em;
  }
  
  .form {
	display: grid;
	gap: 2em;
  }
  
  .form__radios {
	display: grid;
	gap: 1em;
  }
  
  .form__radio {
	align-items: center;
	background-color: #fefdfe;
	border-radius: 1em;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
	display: flex;
	padding: 1em;
  }
  
  .form__radio label {
	align-items: center;
	display: flex;
	flex: 1;
	gap: 1em;
  }
  
  .header {
	display: flex;
	justify-content: center;
	padding-block: 0.5em;
	padding-inline: 1em;
  }
  
  .icon {
	block-size: 1em;
	display: inline-block;
	fill: currentColor;
	inline-size: 1em;
	vertical-align: middle;
  }
  