sup{
	font-size: 40px;
}
.content ul{
	list-style: none;
	font-size: 15px;
	font-family:'Open Sans';
	color: #9095aa;
	padding: 0px;
	margin: 0px;
}
.content li{
    border-bottom: 1px solid #494a5a;
    padding: 0px;
    margin: 0px;
    text-align: center;
    height: 52px;
    line-height: 52px;
}
.whole{
	display: inline-block;
}
.type{
	width: 300px;
	border-radius: 5px 5px 0px 0px;
	height: 62px;
}
.type p{
	font-family:'Open Sans';
    font-weight: 800;
	font-size: 29px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 10px;
}
.plan{
	width: 300px;
	background-color: #2b2937;
	border-radius: 0px 0px 5px 5px;
    font-family:'Open Sans';
    font-style:condensed;
    font-size: 90px;
    color: white;
    text-align: center;
}
.header-service{
	border-bottom: 1px solid #494a5a;
	padding-bottom: 39px;
}
.header-service span{
	font-size: 32px;
}
.month{
	font-size: 14px;
	color: #ffffff;
	padding: 0px;
	margin: -10px;
}
.price{
	font-size: 12px;
	padding: 5%;
	background-color: #ffffff;
	border: 2px solid #494a5a
}
.price a{
	color: white;
	text-decoration: none;
}
.cart{
	color:white;
	position: relative;
	top: 16px;
}
.center {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

button.fancy {
	-webkit-appearance: button;
	background-color: transparent;
	border: 2px solid #000;
	border-radius: 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-weight: 700;
	letter-spacing: 0.1em;
	margin: 0;
	outline: none;
	overflow: visible;
	padding: 1.25em 2em;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	transition: all 0.3s ease-in-out;
	user-select: none;
}
button.fancy::before {
	content: " ";
	width: 1.5625rem;
	height: 2px;
	background: black;
	top: 50%;
	left: 1.5em;
	position: absolute;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transition: background 0.3s linear, width 0.3s linear;
	transition: background 0.3s linear, width 0.3s linear;
}
button.fancy a {
	font-size: 15px;
	line-height: 1.33333em;
	padding-left: 2em;
	display: block;
	text-align: left;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}
button.fancy .top-key {
	height: 2px;
	width: 1.5625rem;
	top: -2px;
	left: 0.625rem;
	position: absolute;
	background: white;
	-webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
	transition: width 0.5s ease-out, left 0.3s ease-out;
}
button.fancy .bottom-key-1 {
	height: 2px;
	width: 1.5625rem;
	right: 1.875rem;
	bottom: -2px;
	position: absolute;
	background: white;
	-webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}
button.fancy .bottom-key-2 {
	height: 2px;
	width: 0.625rem;
	right: 0.625rem;
	bottom: -2px;
	position: absolute;
	background: white;
	-webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
	transition: width 0.5s ease-out, right 0.3s ease-out;
}
button.fancy:hover {
	color: white;
	background: black;
}
button.fancy:hover::before {
	width: 0.9375rem;
	background: white;
}
button.fancy:hover a {
	color: white;
	padding-left: 1.5em;
}
button.fancy:hover .top-key {
	left: -2px;
	width: 0px;
}
button.fancy:hover .bottom-key-1,
button.fancy:hover .bottom-key-2 {
	right: 0;
	width: 0;
}